@import "tailwindcss";


.landing-con {
  @apply  flex flex-row justify-center overflow-y-hidden overflow-x-hidden bg-pink-100;
}

.landing-middle-img {
  @apply h-screen w-screen justify-end object-cover;
}

.landing-middle {
  @apply flex grow items-center justify-end shrink;
}

.landing-left {
  @apply bg-pink-100 w-[35%] px-10 z-10
}

.left-logo-img {
  @apply w-18 h-18;
}

.left-logo-title{
  @apply font-bold text-2xl pr-10;
}

.left-logo-con {
  @apply flex flex-row items-center justify-start py-10;
}
